body{

    background-image: url("/assets/image/aircraft.jpg");
   background-position: center; 
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 500px; /* You must set a specified height */
}