<div class="destinations" id="destinations">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_subtitle">simply amazing places</div>
        <div class="section_title">
          <h2>Popular Destinations</h2>
        </div>
      </div>
    </div>
    <div class="row destinations_row">
      <div class="col">
        <div class="destinations_container item_grid" style="position: absolute; height: 89.782px;">

          <!-- Destination -->
          <div class="destination item" style="position: absolute; left: 0px; right: 0px;top: 0px; ">
            <div class="destination_image">
              <img src="/assets/image/destination_1.jpg" alt="Bali" (click)="details()" ([ngModule])="Bali" name="Bali">
            </div>
            <div class="destination_content">
              <div class="destination_title"><a>Bali</a></div>
              <div class="destination_subtitle">
                <p>Bali is an Indonesian island known for its forested volcanic mountains, iconic rice paddies, beaches
                  and coral reefs.</p>
              </div>
              <div class="destination_price">From $779</div>
            </div>
          </div>

          <!-- Destination -->
          <div class="destination item" style="position: absolute; left: 390px; top: 0px;">
            <div class="destination_image">
              <img src="/assets/image/destination_2.jpg" alt="Indonesia" (click)="Indonesia()"([ngModule])="indonesia" name="indonesia"  >
            
            </div>
            <div class="destination_content">
              <div class="destination_title"><a>Indonesia</a></div>
              <div class="destination_subtitle">
                <p>Indonesia, a Southeast Asian nation made up of thousands of volcanic islands. </p>
              </div>
              <div class="destination_price">From $879</div>
            </div>
          </div>

          <!-- Destination -->
          <div class="destination item" style="position: absolute; left: 780px; top: 0px;">
            <div class="destination_image">
              <img src="/assets/image/destination_3.jpg" alt="San Francisco" (click)="details()" name="sanFrancisco" ([ngModule])="SanFrancisco"/>
            </div>
            <div class="destination_content">
              <div class="destination_title"><a>San Francisco</a></div>
              <div class="destination_subtitle">
                <p>San Francisco is the 13th-most populous city in the United States, and the fourth-most populous in
                  California</p>
              </div>
              <div class="destination_price">From $579</div>
            </div>
          </div>

          <!-- Destination -->
          <div class="destination item" style="position: absolute; left: 0px; top: 416px;">
            <div class="destination_image">
              <img src="/assets/image/destination_4.jpg" alt="Paris" (click)="details()">
            </div>
            <div class="destination_content">
              <div class="destination_title"><a>Paris</a></div>
              <div class="destination_subtitle">
                <p>Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy
                  and culture. </p>
              </div>
              <div class="destination_price">From $1 079</div>
            </div>
          </div>

          <!-- Destination -->
          <div class="destination item" style="position: absolute; left: 390px; top: 416px;">
            <div class="destination_image">
              <img src="/assets/image/destination_5.jpg" alt="Phi Phi Island" (click)="details()">
            </div>
            <div class="destination_content">
              <div class="destination_title"><a>Phi Phi Island</a></div>
              <div class="destination_subtitle">
                <p>The Phi Phi Islands are an island group in Thailand, between the large island of Phuket and the
                  Straits of Malacca coast of Thailand.</p>
              </div>
              <div class="destination_price">From $679</div>
            </div>
          </div>

          <!-- Destination -->
          <div class="destination item" style="position: absolute; left: 780px; top: 416px;">
            <div class="destination_image">
              <img src="/assets/image/destination_6.jpg" alt="Mykonos" (click)="details()">
            </div>
            <div class="destination_content">
              <div class="destination_title"><a>Mykonos</a></div>
              <div class="destination_subtitle">
                <p>Mykonos is a Greek island, part of the Cyclades, lying between Tinos, Syros, Paros and Naxos. The
                  island spans an area of 85.5 square kilometres (33.0 sq mi).</p>
              </div>
              <div class="destination_price">From $279</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


